body {
    font-family: 'Arial', sans-serif;
    background-color: hsl(209, 100%, 83%);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

header {
    background: hsl(147, 98%, 24%);
    color: hsl(61, 75%, 73%);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    background: linear-gradient(to right, #8B0000, #333);
    padding: 15px 0;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    top: 0;
    width: 100%;
    z-index: 1000;
}


nav li {
    display: inline-block;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 28px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: inline-block;
    margin-bottom: 15px;
}


article {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: hsl(60, 100%, 89%);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h1 {
    color: #8B0000;
    font-size: 22px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.Video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background: #333333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.imagen {
    display: block;
    max-width: 40%;
    height: auto;
    margin: 20px auto;
    border-radius: 15px;
}
.h1{
    text-aling: center;
}
